<button
  class="font-poppins font-semibold text-sm text-white px-10 py-5 bg-gradient-to-r from-color-accent to bg-color-secondary hover:bg-gradient-to-l hover:from-color-secondary hover:to-color-secondary"
  ><slot />
</button>
