---

// IMPORT ASTRO ATOMS
import GradientButton from "@/atoms/atoms-nandini/buttons/gradient/index.astro"
import HeadingTwo from "@/atoms/atoms-nandini/headings/two/index.astro"

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// GET ASTRO PROPS
const {

    button_text,
    title,

} = Astro.props

---
<Container>
<section class="my-10">
    <HeadingTwo>{ title }</HeadingTwo>
    <div class="text-center mx-auto my-10">
        <GradientButton>{ button_text }</GradientButton>
    </div>
</section>
</Container>
