---
//IMPORT ATOMS
import BorderButton from "@/atoms-diksha/buttons/border-button/index.astro";
import Heading4xlBoldWhite from "@/atoms-diksha/headings/three/4xl/bold/white/index.astro";
import Link from "@/atoms/links/index.astro"
import ParagraphExtraLargeWhite from "@/atoms/atoms-nandini/paragraphs/xl/white/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"

const {
	
	background_image,
	description,  
	link,
	title,  

} = Astro.props;
---
<div class="relative h-[360px] sm:h-[480px] md:h-[600px] bg-no-repeat bg-center bg-cover w-screen">
	<Link aria_label={ link } href={ link }>
		<PictureInternal 
			alternative_text={ title }
			source={ background_image }
		/>
		<div class="w-screen absolute bottom-0 left-0 flex sm:flex-col md:flex-row sm:justify-evenly sm:items-start md:justify-between md:items-center px-2 py-6 sm:px-6 sm:py-10 md:px-10 md:py-16">
			<div class="flex flex-col gap-1 sm:gap-4">
				<div class="md:mr-96">
					<Heading4xlBoldWhite>{ title }</Heading4xlBoldWhite>
				</div>
				<ParagraphExtraLargeWhite>{ description }</ParagraphExtraLargeWhite>
			</div>
			<div class="hidden sm:block">
				<BorderButton>VIEW PROJECT</BorderButton>
			</div>
		</div>
	</Link>
</div>

