---
//IMPORT ATOMS
import BorderButton from "@/atoms-diksha/buttons/border-button/index.astro";
import Heading3 from "@/atoms-diksha/headings/three/index.astro";

const { title, description, background_image, link } = Astro.props;
---

<a
  href={link}
  style={{
    backgroundImage: `url(${background_image})`,
  }}
  class="relative w-screen h-[360px] sm:h-[480px] md:h-[600px] bg-no-repeat bg-center bg-cover flex"
>
  <div
    class="w-screen absolute bottom-0 left-0 flex sm:flex-col md:flex-row sm:justify-evenly sm:items-start md:justify-between md:items-center px-2 py-6 sm:px-6 sm:py-10 md:px-10 md:py-16"
  >
    <div class="flex flex-col gap-1 sm:gap-4">
      <Heading3>
        {title}
      </Heading3>
      <p class="font-poppins text-white text-base sm:text-lg md:text-xl">
        {description}
      </p>
    </div>
    <div class="hidden sm:block">
      <BorderButton>VIEW PROJECT</BorderButton>
    </div>
  </div>
</a>
