---

// IMPORT ASTRO ATOMS
import ButtonYellow from "@/atoms/atoms-nandini/buttons/yellow/index.astro"
import HeadingOne4xlBold from "@/atoms/atoms-nandini/headings/one/4xl/bold/white/index.astro"
import VideoBackground from "@/atoms/atoms-nandini/videos/index.astro"

// GET ASTRO PROPS
const {

    button_text,
    title,

} = Astro.props

---
<section class="relative flex">
        <VideoBackground
            src="/video.mp4"
        />
        <div class="absolute grid gap-7 items-center top-20 sm:top-36 md:top-48 pl-6 sm:pl-0 lg:top-60 xl:top-80 xl:pl-20 2xl:top-96 2xl:pl-60">
            <HeadingOne4xlBold>{ title }</HeadingOne4xlBold>
            <a href="/contact/">
                <ButtonYellow>{ button_text }</ButtonYellow>
            </a>
        </div>
</section>
