---

//IMPORT ATOMS
import ButtonIndigoYellowGradient from "@/atoms/atoms-nandini/buttons/indigo-yellow-gradient/index.astro"
import Heading2 from "@/atoms-diksha/headings/two/index.astro";
import Link from "@/atoms/links/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"

//CONSTANTS
const badge = [
	{
		image: "https://prosperdigital.tv/wp-content/uploads/2024/03/Clutch-Review-for-Prosper-Digital-TV_Color_v3.png",
		alt: "Cluth Review",
	},
	{
		image: "https://prosperdigital.tv/wp-content/uploads/2024/03/Free-The-Work_Prosper-Digital-TV_Gray_V3.png",
		alt: "Free The Work",
	},
	{
		image: "https://prosperdigital.tv/wp-content/uploads/2020/04/logo-certificates-07.png",
		alt: "Best for NYC",
	},
	{
		image: "https://prosperdigital.tv/wp-content/uploads/2024/03/NMSDC-Logo-MBE.png",
		alt: "NMSDC",
	},
	{
		image: "https://prosperdigital.tv/wp-content/uploads/2020/04/logo-certificates-02.png",
		alt: "NYC Buisness Services",
	},
	{
		image: "https://prosperdigital.tv/wp-content/uploads/2020/04/logo-certificates-04.png",
		alt: "New York State of Oppurtunity",
	},
];

// HARDCODED DATA 
const data = {

	button_link:"/certifications/",
	button_text:"VIEW CAPABILITY STATEMENT",
	title:"Our Certifications",
	
}

---
<section>
	<div class="flex justify-center py-8">
		<Heading2>{ data.title }</Heading2>
	</div>
	<div class="bg-[#f5f6f7] flex justify-center items-center gap-12 py-16">
		{

			badge.map( (  item , index ) =>{

				if( index == 0 ){

					return (

							<div>
								<div class="w-24 aspect-[3/4]">
									<PictureInternal
										alternative_text={ item.alt }
										source={ item.image }
									/>
								</div>
							</div>

					)

				} else {

					return ( 

						<div>
							<div class="w-24 aspect-square">
								<PictureInternal
									alternative_text={ item.alt }
									source={ item.image }
								/>
							</div>
						</div>

				)

				}

			})

		}
	</div>
	<div class="flex justify-center bg-[#f5f6f7] pb-12">
		<Link aria_label={ data.button_text } href={ data.button_link }>
			<ButtonIndigoYellowGradient>{ data.button_text }</ButtonIndigoYellowGradient>
		</Link>
	</div>
</section>
