---

// IMPORT ASTRO ATOMS
import ParagraphLgGray from "@/atoms/atoms-shiva/paragraphs/lg/gray/index.astro"
import ParagraphLgGrayMedium from "@/atoms/atoms-shiva/paragraphs/lg/gray/medium/index.astro"

// GET ASTRO PROPS
const {

    description,
    title,

} = Astro.props

---

<div class="w-full grid grid-cols-3 gap-2">
    <ParagraphLgGrayMedium>{ title }</ParagraphLgGrayMedium>
    <div class="col-span-2">
        <ParagraphLgGray>{ description }</ParagraphLgGray>
    </div>
</div>
